.searchbar {
  width: 100%;
  z-index: 2;
}

.searchbar__wrapper {
  background-color: white;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  justify-content: space-between;
}

.searchbar__input {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 600px;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

.searchbar__icon {
  color: royalblue;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 350px;
  bottom: 10px;
  cursor: pointer;
}

.searchbar-results__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 30px 40px;
}
