.searchbar {
  margin-top: 20px;
  width: 100%;
  z-index: 2;
}

.searchbar__form {
  position: relative;
}

.searchbar__wrapper {
  background-color: white;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  justify-content: space-between;
}

.searchbar__input {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 700px;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

.searchbar__icon {
  color: black;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 110px;
  bottom: 14px;
  cursor: pointer;
}

.searchbar-results__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 30px 40px;
}

.searchbar__preloader {
  max-width: 310px;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  border: 1px solid white;
  border-width: 10px;
  border-radius: 20px;
  background-color: white;
}

.searchbar__preloader_hidden {
  display: none;
}

.searchbar__preloader-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .searchbar__wrapper {
    max-width: 400px;
  }

  .searchbar__form {
    max-width: 400px;
  }

  .searchbar__input {
    max-width: 400px;
  }

  .searchbar__icon {
    right: 10px;
    bottom: 14px;
  }
}
