.nav {
  display: flex;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
  gap: 15px;
}

.nav__login {
  color: black;
  opacity: 0.6;
  font-weight: 700px;
  margin: 0;
  border: none;
  background: none;
  padding: none;
}

.nav__register {
  color: black;
  opacity: 0.6;
  margin: 0;
  border: none;
  background: none;
  padding: none;
}
.nav__about {
  margin: 0 10px 0 0;
  color: black;
  opacity: 0.6;
  border-bottom: none;
  text-decoration: none;
}

.nav__about-recipes {
  color: black;
  opacity: 0.6;
  margin: 0;
  position: relative;
}

.nav__user {
  color: black;
  margin: 0;
  border-bottom: 2px solid;
  background: none;
  padding: none;
  cursor: pointer;
}

.nav__logout {
  color: black;
  opacity: 0.6;
  margin: 0;
  border: none;
  background: none;
  padding: none;
}

.nav__edit-info {
  color: black;
  opacity: 0.6;
  margin: 0;
  border: none;
  background: none;
  padding: none;
  cursor: pointer;
}

.nav__about-recipes:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  width: 100px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  display: none;
}

.nav__about-recipes:before:hover {
  display: block;
  z-index: 1000;
}

.nav__login:hover {
  border-bottom: 2px solid;
  cursor: pointer;
  opacity: 1;
}

.nav__register:hover {
  border-bottom: 2px solid;
  cursor: pointer;
  opacity: 1;
}

.nav__about-recipes:hover {
  border-bottom: 2px solid;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

.nav__about:hover {
  border-bottom: 2px solid;
  cursor: pointer;
  opacity: 1;
}

.nav__logout:hover {
  border-bottom: 2px solid;
  cursor: pointer;
  opacity: 1;
}

.nav__edit-info:hover {
  border-bottom: 2px solid;
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    margin-right: 10px;
    gap: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 750px) {
  .nav__menu {
    font-size: 10px;
  }
}
