.searchedRecipes {
  margin: 20px 0 0 0;
}

.searchedRecipes__info-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchedRecipes__header {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  border-width: 10px;
  border-radius: 20px;
  margin: auto;
  background-color: white;
  color: black;
  font-size: 28px;
  font-weight: 700;
}

.searchedRecipes__info {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  border-width: 10px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.searchedRecipes-results__wrapper {
  width: 100%;
  display: flex;
  max-width: 100%;
  margin: 40px auto 0;
}

.searchedRecipes__cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.searchRecipes-view-more {
  border: 1px solid white;
  border-width: 10px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-self: center;
  font-weight: 500;
  margin: 0 0 10px;
  cursor: pointer;
}
